// scss 语法参考 http://www.w3cplus.com/sassguide/syntax.html
// 公用的间距样式
// 通用的padding margin值 从5px到30px 步进为5
@for $i from 1 through 6 {
    .ptb#{$i * 5}, .pt#{$i * 5} {
        padding-top: $i * 5 * 1px
    }
    .ptb#{$i * 5}, .pb#{$i * 5} {
        padding-bottom: $i * 5 * 1px;
    }
    .plr#{$i * 5}, .pl#{$i * 5} {
        padding-left: $i * 5 * 1px;
    }
    .plr#{$i * 5}, .pr#{$i * 5} {
        padding-right: $i * 5 * 1px;
    }
    .mt#{$i * 5} {
        margin-top: $i * 5 * 1px;
    }
    .mb#{$i * 5} {
        margin-bottom: $i * 5 * 1px;
    }
    .ml#{$i * 5} {
        margin-left: $i * 5 * 1px;
    }
    .mr#{$i * 5} {
        margin-right: $i * 5 * 1px;
    }
}

//通用的字体大小 从 12 到 48，步进为2
@for $i from 6 through 24 {
    .font#{$i * 2} {
        font-size: $i * 2 * 1px;
    }
}
// 宽度，高度
// 宽高，从 20px 到 120px, 步进为2px
@for $i from 10 through 60 {
    .h#{$i * 2} {
        height: $i * 2 * 1px;
    }
    .w#{$i * 2} {
        width: $i * 2 * 1px;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-full {
    height: 100vh;
}

// radius，从2px 到 12px, 步进为 2px
@for $i from 1 through 6 {
    .r#{$i * 2} {
        border-radius: $i * 2 * 1px;
    }
}
// 为了实现左右圆角
.r100 {
    border-radius: 100px;
}
.circle {
    border-radius: 50%;
}
